<footer class="border-t-2">
    <div class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="h-8 w-auto text-white text-[24px] font-bold" alt="">RAINFTB</span>
                <p class="text-white text-[14px] leading-[24px] font-normal">
                    We’re bringing digital creators, crypto natives, and collector together to move culture forward
                </p>
            </a>
        </div>
    </div>
</footer>
